<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">
    <link href="css/resume.min.css" rel="stylesheet">


</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" style="color: white">Adrian Góra - Music application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artist">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/album">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/song">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genre">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addNew">Add new</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="">Album details</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav2 class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger"></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#album">Album</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#songs">Songs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" th:if="${album} != null"
                   th:href="'albumDetailsEdit?index=' + ${album.id}">Edit</a>
            </li>
        </ul>
    </div>
</nav2>

<div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="album">
        <div class="col-md-8" style="margin-left: 25%">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <h4 class="card-title">Album</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Album name:</label>
                                <a th:text="${album.name}" style="color: black"></a>
                                <label class="bmd-label-floating"></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Release year:</label>
                                <a th:text="${album.releaseYear}" style="color: black"></a>
                                <label class="bmd-label-floating"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="songs">
        <div class="col-md-8" style="margin-left: 25%">
            <div class="card">
                <div class="card-header card-header-icon card-header-rose">
                    <h4 class="card-title">Songs</h4>
                </div>
                <div class="card-body">
                    <div class="row" th:each="song: ${songList}">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="bmd-label-floating">Title:</label>
                                <a th:if="${song} != null" th:text="${song.title}" style="color: black"></a>
                                <label class="bmd-label-floating"></label>
                                <hr class="m-0">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Length:</label>
                                <a th:if="${song} != null" th:text="${song.length}" style="color: black"></a>
                                <label class="bmd-label-floating"></label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Language:</label>
                                <a th:if="${song} != null" th:text="${song.language}" style="color: black"></a>
                                <label class="bmd-label-floating"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="m-0">

</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>

</body>

</html>
