<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>One Page Wonder - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <a class="navbar-brand" href="">Adrian Góra - Music application</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artist">Artists</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/album">Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/song">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genre">Genres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addNew">Add new</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<center>
    <div class="col-md-8" style="margin-top: 10%">
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">
                <h4 class="card-title">Songs list</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <ol>
                        <li th:each="song: ${songs}" style="text-align: left">
                            <div>
                                <label class="bmd-label-floating"></label>
                                <a th:href="'songDetails?index=' + ${song.id}" class="bmd-label-floating" th:text="${song.title}"></a>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</center>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
